/* App.css */
.App {
  display: flex;
  flex-direction: column;
}

.display-section {
  float:left;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
}
.dropdown-icon{
padding-right: 10px;
}

.dropdown-item {
  margin-bottom: 10px;
}

.dropdown-item label {
  font-size: 12px;
  color:gray;
  font-weight: 500;
  margin-right: 80px;
}


.cards-section {
  background-color: #f2f2f2;
  display: flex;
}

.group-column {
  flex: 1;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px;
}

.group-type{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card-info {
  margin-bottom: 10px;
}
.group{
  font-size: 16px;
}

.ticketId{
  color: #a59e9e;
  font-weight:600;
  font-size: 16px;
}
.ticketTitle{
  color:black;
  font-weight: 600;
  font-size: 16px;
}

.tag-list {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: blue;
}

.tag {
  background-color: white;
  color: #a59e9e;
  padding: 5px 10px;
  border: 1px solid #a59e9e;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}
.dot {
  height:10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
